/*


.content{

    border: 10px solid #ece89d;



}

.header{
    flex: 1 1 auto%;
    display: flex;

    background-color: bisque;

}

.nav{

    background-color: #ff7300;
    height: 1000px;
    flex: 0 1 50%;

}

.header img{
    width: 50px;
}*/
